@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

svg.gameboard .food,
svg.gameboard .snake {
    filter: drop-shadow(0.1em 0.1em 0.05em rgba(0, 0, 0, 0.3));
}

svg.gameboard .snake.eliminated {
    opacity: 0.1;
}
